.slide-panel {
position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh; /* Adjust height as needed */
  background-color: white;
  z-index: 80;

  transform: translateY(-100%); 
  transition: transform 0.4s ease-in-out;
}

.slide-panel.open {
    transform: translateY(0);
}

.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.8s ease;
  z-index: 40;
}   
  
.dark-overlay.active {
  opacity: 1;
  visibility: visible;
}

